/* Define the body style */
body {
    font-family:Arial;
    font-size:12px;
    margin-top:0px;

}
h1 { color: black; font-family: 'Rouge Script', cursive; font-size: 60px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }
p{
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size:24px;
 margin-top: 5px; margin-bottom: 0px;
 text-align: center;
        font-weight: normal;
        color: #222;
}
/* We remove the margin, padding, and list style of UL and LI components */
#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
}
#menuwrapper{position:fixed;left:0;top:0;bottom:0;}
#sidemenu{
	background:#272727;
    width:110px;
    height:100%;
}
/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li{
    background-color:#272727;
    width:110px;
    cursor:pointer;
    text-align:center;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#menuwrapper ul li:hover{
    /*position:relative;*/
    
}

/* We apply the link style */
#menuwrapper ul li a{
    padding-top:20px;
    padding-bottom:20px;
    color:#555555;
    display:inline-block;
    text-decoration:none;
}

#menuwrapper ul li a.selected{
 	color:#ddd;   
}
#menuwrapper ul li a:hover{
	color:#3F68DE;
    transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
}

#menuwrapper ul li a:hover:after {
    content: "  ";
    display: inline-block;
    border-bottom: 0.8em solid transparent;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid #3F68DE;
    border-top: 0.8em solid transparent;
    height: 0px;
    margin-top: -2px;
    position: absolute;
    left: 91px;
    width: 1px;
    transition:border-right 1s ease;
    -o-transition:border-right 1s ease;
    -webkit-transition:border-right 1s ease;
    -moz-transition:border-right 1s ease;
}

#menuwrapper ul li a.noflyout:hover:after {
	border-right: 0.8em solid transparent;
    transition:none;
    -o-transition:none;
    -webkit-transition:none;
    -moz-transition:none;
}
/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul{
    position:absolute;
    display:block;
    visibility:hidden;
    height:100%;
    background-color:transaprent;
    width:0px;
    color:#fff;
    
}

#menuwrapper ul li ul li{
    color:#fff;
    background:transparent;
    padding:15px;
}
/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */

#menuwrapper ul li:hover ul{
    left:110px;
    top:0px;
    display:block;
    visibility:visible;
    width:150px;
    background-color:#3F68DE;
    transition:background-color 0.5s ease;
    -o-transition:background-color 0.5s ease;
    -webkit-transition:background-color 0.5s ease;
    -moz-transition:background-color 0.5s ease;
    
}
.raphael-group-118-creditgroup,.raphael-group-228-creditgroup text{
    color: white;
    display: none !important;
}

#nowResult{
    color: red;
    width: 400px;
    background: transparent;
    padding-left: 30px;
    margin-left: 60%;
    height: 300px;
    position: absolute;
    top: 40px; 
    right: 25%;
}
#featuresResult{
    color: red;
    width: 600px;
    background: transparent;
    padding-left: 30px;
    margin-left: 60%;
    height: 300px;
    position: absolute;
    top: 45%;    
    right: 15%;
}
.demotbl {
    border: 0px solid #69899F;
    width: 200px;
  }
.demotbl th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 3%,
        rgb(139,198,66) 52%,
        rgb(158,217,41) 88%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
.demotbl td{
    width:100px;
    padding:10px;
    text-align:center;
    vertical-align: top;
    background-color:#DEF3CA;
    border: 1px solid #BED3AB;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;

  }
  
  
  